html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--fs-sm);
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--ff-primary);
  font-weight: var(--fw-black);
}

h4 {
  font-family: var(--ff-primary);
  font-weight: var(--fw-semiBold);
}

p {
  font-family: var(--ff-secondary);
  font-weight: var(--fw--normal);
}

h1 {
  font-size: var(--fs-xl);
}

h2,
h3 {
  font-size: var(--fs-lg);
}

h4,
p {
  font-size: var(--fs-sm);
}

span {
  font-size: var(--fs-xs);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin-inline: auto;
  width: min(73%, 48em);
}

.btn {
  display: inline-block;
  font-size: var(--fs-btn);
  font-family: var(--ff-primary);
  font-weight: var(--fw-black);
}
