html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--fs-sm);
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin-inline: auto;
  width: min(73%, 48em);
}

.btn {
  display: inline-block;
}

.border--yellow {
  border-color: var(--clr-primary-yellow);
}

.border--softRed {
  border-color: var(--clr-primary-red-soft);
}
